# Python cache #
################
*.pyc
__pycache__
.cache

# Editor files #
################
.idea
*~

# Setup files #
###############
*.egg-info/
.eggs/
build/
dist/

# Plugin #
##########

# Unpresentables #
##################
stuff/
todo/
notebooks/*
optim/
jupyter_notebook.py
math_env.py

!notebooks/codeedit.ipynb
